body {
	padding-top: 60px;
	padding-bottom: 40px;
}
#destination {
    height:30px;
    width:100px;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}


.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}

.line-on .line-date {
    background: url("/static/img/day-on.jpg") 8px center no-repeat #22a4e6;
    color: #FFF;
}
.line-date {
width: 32px;
padding-left: 46px;
}

.line-scene {
padding-left: 28px;
background: url("/static/img/line-scene_77d9ce36.png") 5px 3px no-repeat;
}
.line-scene-first {
padding-left: 0;
background: transparent;
}

.itemlist {
padding-top:20px
}
