$def with(sights, ret, source)
$var title: 规划行程
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<a class="city" id="city" href="#">$ret['city']</a>
  <div class="row-fluid">
    <div class="span7">
    <div class="edit-map-content" style="height: 100%;">
    <div class="mapper-wrapper"><div style="width:100%;height:100%;border:#ccc solid 1px;" id="dituContent"></div></div>
    <div class="lister-wrapper">
        <div class="lister-container ui-sortable" id="J_lister-container">
            <div class="list-container" id="J_list-container-tab">
<ul class="scene-list" id="J_scene-list" style="height: 100%;">  
$for i in source:
    <li class="sortable-node has-son-0 ">
    <div class="scene-item"> 
         <div class="scene-info handleSortable_path"><strong><span class="J_scene-name scene-name" title="$i.name">$i.name</span></strong>                    
         <p class="travel-time">$i.play_time</p>                    
         <a href="javascript:void(0)" class="add-to-plan J_add-to-plan" title="加入行程" onclick="add_to_route($i.id)"></a>                
         </div>
    </div>
    </li>
</ul>          
            
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="span2">

<h3>选择行程</h3>
<div id="current_route">
<table class="table" >
<h3 id="route_name"></h3>
<tbody class="route_content">
</tbody>
</table>
</div>
<div id="route_id"></div>
<ul class="pager" id="route_pager">
</ul>
</div>
<div class="span3">
<div class="side-wrapper">
<div class="edit-plan-content ui-tabs ui-widget ui-widget-content ui-corner-all" id="J_day-tabs">
<header class="plan-header"> <h3><input type="text" name="route_name" value="$ret['route_name']" /></h3><br/></header>
<div class="plan-list J_plan-list ui-droppable" id="J_plan-list" style="height: 600px;">
<div id="my_route"></div>

<ul class="path-list connectedSortable_path ui-tabs-panel ui-widget-content ui-corner-bottom ui-sortable" style="" id="route_day">
<table>
$if sights != []:
    $for s in sights:
        <tr>
        <td><img width="90" height="60" style="margin:0px 0px 0px -15px" src="$s['sight'].pic_link"></td>
        <td><a>$s['sight'].name</a><br/><p style="font-size:11px">建议游玩：$s['sight'].play_time</i><a style="font-size:10px" title="删除" onclick="remove_sight(this);">删除</a></p><input type="text" name="sight" value="$s['sight'].id" style="display:none;"/>
        </td>
        </tr>
</table>
</ul>
<div class="add-scene-btn"> 从左边添加地点或<br>选择已有行程<br> </div>
    <div class="plan-savers"> 
    <a href="javascript:void(0)" class="plan-publish-btn" id="J_plan-publish" onclick="publish_route($ret['current'])">完成查看</a> </div>

</div>
</div>
</div>
</div>
</div>

<script type="text/javascript">
find_route(1)

</script>
<script src="/static/js/app/map.js"></script>
