$def with(sights, ret, source)
$var title: 规划行程
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<a class="brand" href="#">上海</a>
  <div class="row-fluid">
    <div class="span7">
    <div class="edit-map-content" style="height: 100%;">
    <div class="mapper-wrapper"><div style="width:100%;height:100%;border:#ccc solid 1px;" id="dituContent"></div></div>
    <div class="lister-wrapper">
        <div class="lister-container ui-sortable" id="J_lister-container">
            <div class="list-container" id="J_list-container-tab">
      <table class="table" >
         <tbody>
$for i in source:
    <tr>
        <td>
        <img width="90" height="60" style="margin:0px 0px 0px -15px" src="$i.pic_link">
        </td>
        <td><a>$i.name</a><br/>
            <p style="font-size:11px">建议游玩：$i.play_time</i>
        </td>
    </tr>
</tbody>
</table>            
            
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="span2">
      <h3>选择行程</h3>
      <div id="current_route">
      <table class="table" >
      <caption>$ret['route_name']</caption>
         <tbody>
$for s in sights:
    <tr>
        <td>
        <img width="90" height="60" style="margin:0px 0px 0px -15px" src="$s['sight'].pic_link">
        </td>
        <td><a>$s['sight'].name</a><br/>
            <p style="font-size:11px">建议游玩：$s['sight'].play_time</i>
        </td>
    </tr>
</tbody>
</table>
</div>
<button type="button" class="btn btn-primary" id="add_to" >添加到我的行程</button>
<ul class="pager">
$if ret['current'] == '1':
    <li class="previous disabled">
    <a href="#" >&larr; 上一个</a>
$else:
    <li class="previous">
    <a href="/edit/$ret['prev']" >&larr; 上一个</a>
</li>
$if int(ret['current']) == ret['count']:
    <li class="next disabled">
    <a href="#">下一个 &rarr;</a>
$else:
    <li class="next">
    <a href="/edit/$ret['next']">下一个 &rarr;</a>
</li>
</ul>
</div>
<div class="span3">
<div class="side-wrapper">
<div class="edit-plan-content ui-tabs ui-widget ui-widget-content ui-corner-all" id="J_day-tabs">
<header class="plan-header"> <h3>我的行程</h3></header>
<div class="plan-list J_plan-list ui-droppable" id="J_plan-list" style="height: 600px;">
<div id="my_route"></div>

<ul class="path-list connectedSortable_path ui-tabs-panel ui-widget-content ui-corner-bottom ui-sortable" style="" id="route_day">

</ul>
<div class="add-scene-btn"> 从左边添加地点或 <br><a class="J_add-scene" id="J_add-scene-plan" data-type="plan" href="###">自行添加</a> </div>
<div class="plan-savers"> <a href="###" class="plan-save-btn" id="J_plan-save">保存</a> <a href="###" class="plan-publish-btn" id="J_plan-publish">完成查看</a> </div>

</div>
</div>
</div>
</div>
</div>
