$def with (content)
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="stella">
<meta name="author" content="oaksu stella">
<head>
    <title>$content.title </title>
<!--
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
    
-->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Trip</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">行程编辑</a></li>
  
          </div><!--/.nav-collapse -->
        
      </div>
    </div>
<script src="/static/js/lib/jquery.js"></script>
<script src="/static/js/lib/bootstrap.min.js"></script>

<script src="/static/js/app/route.js"></script>

$:content


</body>
</html>
